@model Games.Web.Console.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
	<legend>member</legend>
	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.UserId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UserId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DisplayName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DisplayName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FirstName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ProfileImageUrl)
		</dt>

		<dd>
            <img src="@Model.ProfileImageUrl" title="@Model.DisplayName" />
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsJudge)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsJudge)
		</dd>

	</dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn"}) 
    @Html.ActionLink("Back to List", "Index", null , new { @class="btn"})
</p>
