@model Games.Web.Console.Models.Member

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>member</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.DisplayName)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.ProfileImageUrl)

        <div class="control-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label" })
			<div class="controls">
				@Html.DisplayFor(model => model.UserId)
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.DisplayName, new { @class = "control-label" })
			<div class="controls">
				@Html.DisplayFor(model => model.DisplayName)
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
			<div class="controls">
				@Html.DisplayFor(model => model.FirstName)
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
			<div class="controls">
				@Html.DisplayFor(model => model.LastName)
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.ProfileImageUrl, new { @class = "control-label" })
			<div class="controls">
                <img src="@Model.ProfileImageUrl" title="@Model.DisplayName" />
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.IsJudge, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.IsJudge)
			</div>
		</div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn btnPrimary" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

