@model IEnumerable<Games.Web.Console.Models.Member>

@{
    ViewBag.Title = "Member List";
}

<h2>Member List</h2>


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsJudge)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ProfileImageUrl" title="@item.DisplayName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsJudge)
            </td>
            <td>
                <div class="btn-group">
                    >@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
                </div>
            </td>
        </tr>
    }

</table>
