@model Games.Web.Console.Models.Game

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Game</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Rules, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(model => model.Rules)
                @Html.ValidationMessageFor(model => model.Rules, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })
            <div class="controls datetimepicker">
                @Html.TextBoxFor(model => model.StartTime, new { data_format = "MM/dd/yyyy HH:mm PP" })
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
                @Html.ValidationMessageFor(model => model.StartTime, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.EndTime, new { @class = "control-label" })
            <div class="controls datetimepicker">
                @Html.TextBoxFor(model => model.EndTime, new { data_format = "MM/dd/yyyy HH:mm PP" })
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
                @Html.ValidationMessageFor(model => model.EndTime, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.TimedEvent, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.TimedEvent)
                @Html.ValidationMessageFor(model => model.TimedEvent, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.LowestScoreWins, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.LowestScoreWins)
                @Html.ValidationMessageFor(model => model.LowestScoreWins, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

