@model Games.Web.Console.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Game</legend>

	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Rules)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Rules)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Location)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Location)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartTime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartTime)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndTime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndTime)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TimedEvent)
		</dt>

		<dd>
			@(Model.TimedEvent ? "Yes" : "No")
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LowestScoreWins)
		</dt>

		<dd>
            @(Model.LowestScoreWins ? "Yes" : "No")
		</dd>

	</dl>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
    </div>
}
