@model Games.Web.Console.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Game</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimedEvent)
        </dt>

        <dd>
            @(Model.TimedEvent ? "Yes" : "No")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowestScoreWins)
        </dt>

        <dd>
            @(Model.LowestScoreWins ? "Yes" : "No")
        </dd>

    </dl>
</fieldset>

@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn" })
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })

