@model IEnumerable<Games.Web.Console.Models.Game>

@{
    ViewBag.Title = "Game List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null,  new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            Type
        </th>
        <th>
            Scoring
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @(item.TimedEvent ? "Timed" : "Points")
            </td>
            <td>
                @((item.LowestScoreWins ? "Lowest" : "Highest" ) + " is better")
            </td>

            <th>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
                </div>
            </th>

        </tr>
    }

</table>
