﻿@model Games.Web.Console.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";  
}

<div class="hero-unit">
    <h1>GAMES Console</h1>
    <p class="lead">GAMES Console is build utilizing Windows Azure Mobile Services</p>
    <p><a href="http://www.windowsazure.com/en-us/solutions/mobile/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span12">
        <h2>Overall Leaders</h2>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Ranking</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var leader in Model.LeaderBoardEntries)
                {
                    <tr>
                        <td>
                            <img src="@leader.UserProfileImageUrl" title="@leader.UserDisplayName" />
                        </td>
                        <td>
                            @leader.UserDisplayName
                        </td>
                        <td>
                            @leader.OverallRanking
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>