﻿@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>
            This application was built as part of the CTS GAMES management system as part of <a href="https://twitter.com/justintspradlin" title="Justin Spradlin">Justin Spradlin</a>'s talk about Windows Azure Mobile Services.
            This web application allows administrators to manage Games and Members for the CTS Geekathlon.
        </p>
        <p>
            This application was built using<a href="http://www.windowsazure.com/en-us/services/mobile-services/" title="Windows Azure Mobile Services">Windows Azure Mobile Services</a>
            and <a href="http://www.asp.net/mvc/tutorials/mvc-5/introduction/getting-started" title="MVC 5">MVC 5</a>. The source code for this demonstration application can be found at
            <a href="https://bitbucket.org/jspradlin/windows-azure-mobile-services">https://bitbucket.org/jspradlin/windows-azure-mobile-services</a>
        </p>
        <div>
            <h3>Configuring Live Authentication</h3>
            <ol>
                <li><a href="https://account.live.com/developers/applications/create?tou=1">Create a new Application with Microsoft Live</a></li>
                <li>Copy the Client ID and Client Secret</li>
                <li>
                    Open App_Start/Startup.Auth.cs and update the following lines
                    <pre>app.UseMicrosoftAccountAuthentication(
                clientId: "THE_KEY",
                clientSecret: "THE_SECRET");</pre>
                </li>
                <li>
                    Live Authentication does not work with sites running on localhost. However you can use the site <a href="http://readme.localtest.me/">localtest.me</a>
                    to redirect all traffic to your localhost while running locally. Just pick a unique name like my-game-demo.localtest.me. All traffic to that url will be 
                    redirected to your localhost and the application will authenticate properly. See the<a href="https://github.com/SimpleAuthentication/SimpleAuthentication/wiki/Windows-Live-Setup">Simple Authentication Wiki</a> for more information</li>
            </ol>
        </div>
    </div>
</div>